

* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}



body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  background-image: url(../images/brickback.jpg);
  background-size: contain;
  background-position: center;
}

header {
  
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  line-height: 50px;
  color: #ffffff;
  background-image: url(../images/blueBackLines.png);
  background-size: auto;
}

div {
  display: flex;
  flex-wrap: wrap;
}



section {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 20px;

margin: auto;
margin-top: 30px;
font-family: 'Rajdhani';
}

.highlight {
  color: rgb(0, 162, 255);
  text-align: center;
  width: 100%;
  font-size: xx-large;
  margin-bottom: 10px;
  font-family: 'Dela Gothic One';
  
}

a {
  font-family: 'caveat';
  font-size: 35px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: 80px; 
  width: 50%; 
  top: 0; 
  margin: auto;
  font-size: large;
}

.vid {
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.512);

}


aside {
height: 100%;
width: 150px;
position: fixed;
z-index:1;
top:0;
left:0;
overflow-x:hidden;
display: flex;
flex-wrap: wrap;
flex-direction: row;
background-image: url(../images/blueBackLines.png);
background-size: auto;
text-align: center;
justify-content: center;
margin: auto;
font-family: 'caveat';
}

aside a {
 
}

#ryan {
  background: none;
}

footer {
bottom: 0;
width: 100%;
margin: auto;
height: fit-content;
font-size: 20px;
padding: 25px;
color: #ffffff;
justify-content: center;
margin-bottom: 50px;
}


footer a {
 display: block;  
  font-family: 'mooli';
  color: rgb(255, 255, 255);
  
  text-decoration: none;
  justify-content: center;
  }
  


h3 {
  color: rgb(13, 88, 138);
  position: relative;
  font-size: medium;
}


.center {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 50px;
  color: #2361c6;
  text-decoration: none;
  margin-bottom: 25px;
  margin-right: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
  animation: center 2s ease infinite;
}

.center h4:hover {
  color: #e60a0a;
  scale: 1.02;
  transition: ease-in-out 0.2s;
}

h2 {
  color: #ffffff;
  font-size:32px;
  font-family: 'dancing script';
}

h1 {
  width: 100%;
font-size: 80px;
margin-top: 12px;
font-family: 'pixelify sans';
justify-content: left;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

nav ul {
display: inline;
list-style: none;
margin: auto;
bottom:0;
}

nav li {
display: inline;
margin-right: 10px;
font-family: 'caveat';
font-size: x-large;
}

nav a {
color: #ffffff;
text-transform: lowercase;
text-decoration: underline;


}



figure a img {
width: 100%;
outline:5px solid rgba(0, 0, 0, 0.688);
outline-offset: -5px;
position: relative;
}

a img:hover {
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  
}



/* The user is actively pressing down on the element */
a img:active {
  font-size: 100%;
  box-shadow: 0 0 100px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
a img:focus {
  outline: none;  
  border-color: #e60a0a;          
}



.remove-link {
  text-decoration: none;
  
}

a.remove-link {
  color: inherit;
}



.card:hover {
  scale: 1.1;
}

.banner {
display: flex;
opacity: (80%);
flex-wrap: wrap;
width: 100%;
height: 140px;
background-image: url(../images/downloadv2.png);
background-size: cover;
background-position: center;
border-bottom: 3px double grey;

justify-content: right;
align-content: center;
text-align: right;
padding: 20px;
}

p {
  background: white;
background: linear-gradient(
  to right bottom,
    rgba(0, 0, 0, 0.6),
  rgba(9, 177, 219, 0.097)
    );

    webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.178);
    width: 70%;
    color: rgb(255, 255, 255);
    font-family: 'dela gothic one';
    border-radius: 15px;
    box-shadow: inset 0px 0px 3px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  justify-content: center;
}

.banner-text {
  padding: 5px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.45);  
  backdrop-filter: blur(5px);
  border-radius: 8px;
}



.headshot {
border-radius: 100%;
max-block-size: 140px;
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
border: 2px double rgb(4, 158, 185);
}

.headshot:hover {
  scale: 1.13;
  transition: ease-in .2s;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 5vw);
  grid-gap: 25px;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 25px;
  box-shadow: inset 0px 0px 3px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  background: linear-gradient(
    to left bottom,
      rgba(0, 0, 0, 0.6),
    rgba(9, 177, 219, 0.097)
      );
  
      webkit-backdrop-filter: blur(1rem);
      border: 1px solid rgba(255, 255, 255, 0.178);
}

.construct {
  width: 103%;
  margin-left: -15px;
  margin-top: -400px;
  z-index: 1;
  margin-bottom: -20px;
  height: 500px;
}


.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: opacity(70%);
  align-content: center;
  border-radius: 7px;
}

.gallery__img:hover {
filter: none;
}

.gallery__item {
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 10px;
}

.gallery__item--z:hover {
  scale: 1.0;
}

.name {
  font-family: 'pixelify sans';
}

.gallery__item--z{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--8 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 10;
}


.gallery__item--10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--11 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--12 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--13 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--14 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--15 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--16 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--17 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 14;
} 



.floatbox {
  display:flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.688);
  color: rgb(0, 221, 255);
  width: 200px;
  position: absolute;
  margin-top:-100px;
  padding: 10px;
  font-size: large;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 2px;
  text-align: center;
  justify-content: center;
}


.floatbox2 {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.688);
  color: rgb(1, 221, 255);
  width: 200px;
  position: absolute;
  margin-top:-100px;
  padding: 10px;
  font-size: large;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 1px;
  text-align: center;
  justify-content: center;

}

figure:hover {
  scale: 1.05;
  transition: ease-in 0.3s;
}

.sidebar {
  text-decoration: none;
  justify-content: center;
  font-size: 25px;
  color: #818181;
  margin-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  padding: 5px;

}

.sidebar a:hover {
  color:rgb(19, 82, 134);
  text-decoration: underline;

  transition: ease-in 0.3s;
  
}



.aboutmetext p:hover {
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  background: linear-gradient(90deg, #e3ffe7 0%, #7fd8fe 100%);
  color: navy;
  transition: ease-in 0.5s;
}

.main-image {
  background-position: center;
}

.footer a {

  padding: 10px;
  font-family: 'Dela Gothic One';
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.footer a:hover {
  scale: 1.1;
  transition: ease-in 0.2s;
  color: dodgerblue;
  
}

.contactpic{
  max-width: 25%;
  max-height: 150px;
  border: none;
  border-radius: 100%;
  margin: 3px;
}



.contactpic:hover {
  scale: 1.1;
  transition: ease-in 0.3s;
}


.navlinks a {
  margin: 5px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 10px;
  bottom: 0;
  justify-content: space-between;
  font-size: medium;
  width: 90%;
}


.text-adj {
  font-family: 'pixelify sans';
  color: rgb(0, 115, 255);
}

.orange {
  display: flex;
  margin: auto;
  font-size: 45px;
  color: rgb(220, 149, 17);
  width: fit-content;
  border-radius: 8px;
  justify-content: center;
  padding: 2px;
padding-left: 5px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  background-color: navy;
  font-family:Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: -8px;
}

.matchOrange {
  font-size: 18px;
  color: rgb(220, 149, 17);
    width:100%;
  margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}

.lowercase {
  text-transform: lowercase;
 
}

.title {
  margin-left: 30px;
  width: 100%;
}

.section-title {
  width: 100%;
  font-size: x-large;
  padding: 5px;
  color: rgb(0, 162, 255);
  margin-bottom: 50px;
}
 .wrap {
  display: flex;
  justify-content: center;
 }

 .headshot-mobile {
  border-radius: 50%;
  display: none;
 }

 .subtitle {
  color: dodgerblue;
  font-family: 'Dela Gothic One';
  font-size: 30px;
 }
 

 .highlight {
  animation: bounce-in 8s ease infinite;
}

.orange {
  animation: roll-in 2s ease 1;
}
@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}


@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}


@keyframes center {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

@media screen and (max-width: 992px) {

  
  
}
  
  @media screen and (max-width: 576px) {
   * {
    margin: none;
   }
   

   body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

    header {
      background-size: cover;
      background-position: 0%;
      width: 100vw;
      height: 100px;
      margin-left: 0;
    }
    
  
    p {
    padding: 20px;
    text-indent: 10%;
    margin-left: 10px;
    margin: auto;
    margin-top: 30px;
    font-family: 'Rajdhani';
  
    }
    
    .highlight {
      width: 100%;
      font-size: xx-large;

    }
    
    a {
      font-family: 'caveat';
      font-size: 25px;
    }
    
    nav {

      height: 80px; 
      width: 50%; 
      top: 0; 
      margin: auto;
      font-size: large;
    }
    
    
    aside {
    display:none;
  
    }

    
    .orange {
      font-size: 25px;
      color: rgb(220, 149, 17);
      width: fit-content;
      height: fit-content;
      border-radius: 8px;
      justify-content: center;
      padding: 2px;
      margin: auto;
      margin-top: 20px;
      padding-right: 20px;
      align-items: center;
      letter-spacing: -5px;


    }
    
    .matchOrange {
      font-size: 15px;
      color: rgb(220, 149, 17);
        width: 50%;
        line-height: 1;
        margin-right: 12px;
        align-items:end;
    }
    
    footer {
    bottom: 0;
    width: 100%;
    margin: auto;
    height: fit-content;
    font-size: 20px;
    padding: 25px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    }
    
    
    .center h4:hover {
      color: #e60a0a;
      scale: 1.02;
      transition: ease-in-out 0.2s;
    }
    
    h2 {
      color: #ffffff;
      font-size:32px;
      font-family: 'dancing script';
    }
    
    h1 {
      width: 100%;
    font-size: 40px;

    }
    
    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    
    nav ul {
    display: inline;
    list-style: none;
    margin: auto;
    bottom:0;
    }
    
    nav li {
    display: inline;
    margin-right: 10px;
    font-family: 'caveat';
    font-size: x-large;
    }
    
    nav a {
    color: #ffffff;
    text-transform: lowercase;
    text-decoration: underline;
    
    }
    
    .construct {
      margin: 0;
      height: 150px;
      width: 130%;
      margin-top: -130px;
    }
  
    .headshot-mobile {
      border-radius: 50%;
      display:flex;
      margin: auto;
      text-align: center;
      width: 120px;
      justify-content: center;
      border: 2px solid rgba(255, 255, 255, 0.527);
     }
    
    
    .card {
        width: 90%;
        height: 90%;
        z-index: 1;

    }

    .vid {
      width: 100%;
      height: fit-content;
    
    }
    
    
    .banner {
    
    width: 100vw;
    height: 240px;

    padding: 20px;
    }
    
    p {
        flex-direction: row;
        width: 80%;
        margin-bottom: 30px;
    
    }
    
    .banner-text {
      padding: 20px;
      margin: 20px;
      margin-top: 100px;
      font-size: larger;
     
    }
    
  
  
    .wrap {
      justify-content: center;
      width: 100%;
    }
    
    .gallery {
      
      grid-gap: 25px;
      width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 150px;
      margin-bottom: 0;
    }
    
    
    .floatbox {
     
      background-color: rgba(0, 0, 0, 0.688);
      width: 70%;
      color: rgb(26, 200, 227);
      margin-top:-100px;
      padding: 10px;
      font-size: large;
      border-radius: 0;
    }
    
    .floatbox2 {
      background-color: rgba(0, 0, 0, 0.688);
      width: 70%;
      color: rgb(26, 200, 227);
      margin-top:-100px;
      padding: 10px;
      font-size: large;
      border-radius: 0;
    }
    
    .sidebar {
      font-size: 25px;
      margin-top: 20px;
    }
    
    .sidebar a {

      font-size: 30px;
    
    }
    
    footer {
      margin: 0;
      padding: 0;
    }
    
    .footer a {
      padding: 3px;
      margin: 0px;
      justify-content: center;
      width: 100%;
     
    }
    
    #contactMe {
      margin: 0;
      padding: 0;
    }
  
    h3 {
      text-align: center;
      margin: 0;
    }

    .floatbox {
      width: fit-content;
      max-width: 50%;
      font-size: small;
    }

    .floatbox2 {
      width: fit-content;
      max-width: 50%;
      font-size: small;
    }
    
    .navlinks a {
      margin: 5px;
    }
    
    .footer {

      margin: 10px 10px;
      bottom: 0;

      font-size: medium;
      width: 90%;
    }

    
    .title {
      margin: 0;
      width: 100vw;
      text-align: center;
      margin-top: 20px;
    }

    .gallery {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(54, 5vw);
    }
    
    
    .gallery__img {

      filter:none;
     
    }

    .gallery__item--z {
      font-size: 20px;
    }

    .subtitle {
      font-size: 20px;
    }

    .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 6;
    }
    
    .gallery__item--2 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 10;
    }
    
    .gallery__item--3 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 10;
      grid-row-end: 14;
    }
    
    .gallery__item--4 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 14;
      grid-row-end: 18;
    }
    
    .gallery__item--5 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 18;
      grid-row-end: 22;
    }
    
    .gallery__item--6 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 22;
      grid-row-end: 26;
    }
    
    .gallery__item--7 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 26;
      grid-row-end: 30;
    }
    
    .gallery__item--8 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 30;
      grid-row-end: 34;
    }
    
    .gallery__item--9 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 34;
      grid-row-end: 38;
    }

    .gallery__item--10 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 38;
      grid-row-end: 42;
    }

    .gallery__item--11 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 42;
      grid-row-end: 46;
    }

    .gallery__item--12 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 46;
      grid-row-end: 50;
    }
    
    .gallery__item--13 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 50;
      grid-row-end: 54;
    }

    .fp {
      display: none;
    }
    
    /* .gallery__item--14 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 54;
      grid-row-end: 58;
      
    }
    
    .gallery__item--15 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 58;
      grid-row-end: 62;
     
    }
    
    .gallery__item--16 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 62;
      grid-row-end: 66;
      
    }
    
    .gallery__item--17 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 66;
      grid-row-end: 70;
       
        
    
    .center {
      font-size: 35px;
      color: #fc0808;
      text-decoration: none;
      margin-bottom: 5px;
      margin-right: 15px;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 50%;
    }

  
  }

