

* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}



body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  background-image: url(../images/brickback.jpg);
  background-size: contain;
  background-position: center;
  flex-direction: row;
  
}

header {
  justify-content: center;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  color: #ffffff;
  margin: auto;
  background-image: url(../images/blueBackLines.png);
  background-size: auto;
}

div {
  display: flex;
  flex-wrap: wrap;
  
}



section {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
display:flex;
flex-wrap: wrap;
flex-direction: column;

text-align: center;
font-family: 'Rajdhani';
  justify-content: center;
}

.highlight {
  color: rgb(0, 162, 255);
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Dela Gothic One';
  
}



nav {
  display: flex;
  flex-wrap: wrap;
  height: 80px; 
  width: 50%; 
  top: 0; 
  margin: auto;
  font-size: large;
}

.vid {
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid rgba(30, 143, 255, 0.733);
  width: fit-content;
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 30px 30px 30px rgba(6, 6, 7, .5);


}


aside {
height: 100%;
width: 150px;
position: fixed;
z-index:1;
top:0;
left:0;
overflow-x:hidden;
display: flex;
flex-wrap: wrap;
flex-direction: column;
background-image: url(../images/blueBackLines.png);
background-size: auto;
text-align: center;
justify-content: space-between;
margin: auto;
font-family: 'caveat';
}



#ryan {
  background: none;
}

footer {
bottom: 0;
width: 100%;
margin: auto;
height: fit-content;
font-size: 20px;
padding: 25px;
color: #ffffff;
justify-content: center;
margin-bottom: 50px;
}


footer a {
 display: block;  
  font-family: 'mooli';
  color: rgb(255, 255, 255);
  
  text-decoration: none;
  justify-content: center;
  }
  


h3 {
  color: rgb(13, 88, 138);
  position: relative;
  font-size: medium;
}


.center {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 50px;
  color: #2361c6;
  text-decoration: none;
  margin-bottom: 25px;
  margin-right: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
  animation: center 2s ease infinite;
}



h2 {
  color: #ffffff;
  font-size:32px;
  font-family: 'dancing script';
}

h1 {
  width: 100%;
font-size: 80px;
padding-bottom: 25px;
font-family: 'pixelify sans';
justify-content: left;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

nav ul {
display: inline;
list-style: none;
margin: auto;
bottom:0;
}

nav li {
display: inline;
margin-right: 10px;
font-family: 'caveat';
font-size: x-large;
}

nav a {
color: #ffffff;
text-transform: lowercase;
text-decoration: underline;


}



figure a img {
width: 100%;
outline:5px solid rgba(30, 143, 255, 0.627);
outline-offset: -5px;
position: relative;
}

a img:hover {
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  
}



/* The user is actively pressing down on the element */
a img:active {
  font-size: 100%;
  box-shadow: 0 0 100px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
a img:focus {
  outline: none;  
  border-color: #e60a0a;          
}



.remove-link {
  text-decoration: none;
  
}

a.remove-link {
  color: inherit;
}



.card:hover {
  scale: 1.1;
}

.banner {
display: flex;
opacity: 90%;
flex-wrap: wrap;
width: 100%;
height: 140px;
background-image: url(../images/downloadv2.png);
background-size: cover;
background-position: center;
border-bottom: 3px double grey;

justify-content: left;
align-content: center;
text-align: right;
padding: 20px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;

}



.banner-text {
  padding: 5px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.45);  
  backdrop-filter: blur(5px);
  border-radius: 8px;
  width: 60%;
}



.headshot {
border-radius: 100%;
max-block-size: 140px;
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
border: 2px double rgb(4, 158, 185);
}

.headshot:hover {
  scale: 1.13;
  transition: ease-in .2s;
  cursor:crosshair;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 5vw);
  grid-gap: 25px;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 3px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  background: linear-gradient(
    to left bottom,
      rgba(0, 0, 0, 0.6),
    rgba(9, 177, 219, 0.097)
      );
  
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.178);

}




.construct {
  width: 103%;
  margin-left: -10px;
  padding-left: -10px;
  margin-top: -400px;
  z-index: -1;
  margin-bottom: -50px;
  height: 500px;
}


.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: opacity(70%);
  align-content: center;
  border-radius: 7px;
}

.gallery__img:hover {
filter: none;

}

.gallery__item {
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 10px;
  position: relative;
}

.gallery__item--z:hover {
  scale: 1.0;
}

.name {
  font-family: 'pixelify sans';
  color: rgb(255, 166, 0);
  -webkit-text-stroke: #ffffff 1px;
}

.gallery__item--z{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--8 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 10;
}


.gallery__item--10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--11 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--12 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--13 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--14 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--15 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--16 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--17 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 14;
} 



.floatbox {
  display:flex;
  font-family: 'rajdhani';  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 128, 255, 0.649));
  color: white;
  width: 100%;
  position: absolute;
  margin: auto;
  margin-top:-120px;
  padding: 10px;
  font-size: x-large;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.floatbox2 {
  display: flex;
  font-family: 'rajdhani';
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 128, 255, 0.649));
  color: white;
  width: 100%;
  position: absolute;
  margin-top:-100px;
  flex-direction: column;
  padding: 10px;
  font-size: large;


  text-align: center;
  justify-content: center;

}

figure:hover {
  scale: 1.05;
  transition: ease-in 0.1s;
}

.sidebar {
  display: flex;
  flex-shrink: calc();
  text-decoration: none;
  justify-content:space-around;
  align-items: center;
  font-size: 25px;
  color: #818181;
  margin-top: 20px;
  height: 100%;
}








.link {
  margin: 0;
  padding: 0;
  color: orange;
}

.sidebar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  width: 100%;

}

.sidebar a:hover {
  text-decoration: underline;
  color: orange;
  transition: ease-in 0.3s;
  scale: 1.05;
  text-shadow: 10px 10px 10px black;

}

.sidebar a:active {
  scale: .95;
}

.icon {
  font-size: 40px;
}


.aboutmetext p{
  padding: 20px;
width: fit-content;
margin: auto;
margin-top: 30px;

font-size: 25px;
background: linear-gradient(
  to right bottom,
    rgba(0, 0, 0, 0.6),
  rgba(9, 177, 219, 0.097)
    );

    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.178);
    width: 100%;
    max-width: 70%;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: inset 0px 0px 3px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
}




.main-image {
  background-position: center;
}

.footer a {

  padding: 10px;
  font-family: 'Dela Gothic One';
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.footer a:hover {
  scale: 1.1;
  transition: ease-in 0.2s;
  color: dodgerblue;
  text-shadow: 10px 10px 10px black;

}

.footer a:active {
  scale: .95;
}



.subtitle2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'dela gothic one';
  font-size: 40px;
  color: dodgerblue;
  margin-bottom: 20px;
}

.skills {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  background: linear-gradient(
    to right bottom,
      rgba(0, 0, 0, 0.6),
    rgba(9, 177, 219, 0.097)
      );
  
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.178);
      width: 70%;
      color: rgb(255, 255, 255);
      border-radius: 15px;
      box-shadow: inset 0px 0px 3px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);  padding: 15px;
  
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin:auto;
  width: 24%;
}

.skill:hover {
  scale: 1.5;
  transition: ease-in 0.3s;
  z-index:1;
}

.skill-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(77, 161, 245, 0.745);
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);

}

.skill-text {
  font-size: x-large;
  font-family: 'rajdhani';
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}

.navlinks a {
  margin: 5px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 10px;
  bottom: 0;
  justify-content: space-between;
  font-size: medium;
  width: 90%;
}


.text-adj {
  font-family: 'pixelify sans';
  color: rgb(0, 115, 255);
}

.orange {
  display: flex;
  margin: auto;
  font-size: 45px;
  color: rgb(220, 149, 17);
  width: fit-content;
  border-radius: 8px;
  justify-content: center;
  padding: 2px;
padding-left: 5px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid dodgerblue;
  background-color: navy;
  font-family:Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: -8px;
}

.matchOrange {
  font-size: 18px;
  color: rgb(220, 149, 17);
    width:100%;
  margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    font-family: 'dela gothic one';
}

.lowercase {
  text-transform: lowercase;
 
}

.title {
  margin-left: -3px;
  width: 100%;
  -webkit-text-stroke: orange 1px;
  text-shadow: 20px 20px 20px black;

}

.section-title {
  width: 100%;
  font-size: x-large;
  padding: 5px;
  color: rgb(0, 162, 255);
  margin-bottom: 50px;
}
 .wrap {
  display: flex;
  justify-content: center;
 }

 .headshot-mobile {
  border-radius: 50%;
  display: none;
 }

 .subtitle {
  color: dodgerblue;
  font-family: 'Dela Gothic One';
  font-size: 40px;
 }
 
 .line-2 {
  font-size: medium;
  opacity: 70%;
 }






.resume {
  color: white;
  font-size: larger;
  text-decoration: none;
  margin: 10px;
  background-color: rgba(30, 143, 255, 0.745);
  padding: 10px;
  border-radius: 8px;
}

.resume:hover {
  scale: 1.05;
}

.modal-container {
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/brickback.jpg);
  background-size: contain;
  background-position: center;  display: flex;
  align-items: center;
  justify-content: center;
 z-index: 4;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  padding: 20px;
  border-radius: 18px;
  background: linear-gradient(90deg, #1cb5e0e3 0%, #000851d9 100%);
  backdrop-filter: blur(3px) grayscale(50%);
  justify-content: center;
  overflow: hidden;
}

.modal p {
  margin: auto;
  font-size: larger;
  width: fit-content;
   font-family: 'handlee';
    border: none;
    color: rgb(14, 44, 135);
    -webkit-text-stroke: 1px white;
    border-radius: 15px;
    box-shadow: none;
  margin-top: 0;
  margin-bottom: 20px;

}

.modal h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'dela gothic one';
  align-items: center;
  align-content: center;
  font-size: 45px;
  margin-right: 0;
  margin-bottom: 0;
  color: rgb(0, 103, 238);
  -webkit-text-stroke: 1px rgb(255, 180, 30);
  
}

#open, #close {
  background-color: dodgerblue;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 0.2);
  width: 150px;
  margin: auto;
  text-align: center;
  height: fit-content;
  padding: 5px;
  font-size: large;
  font-family: 'handlee';
}

.tape {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
}



.construct-work {
  position: absolute;
  width: 90%;
  height: fit-content;
  justify-content: center;
  margin: auto;
  z-index: -2;
  filter: opacity(20%);
}

.paraPop {
  width: 100%;
  padding: 5px;
  font-size: larger;
}

#open:hover, #close:hover {
  scale: 1.05;
  cursor: pointer;
}

.show-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  align-items: center;
  margin: 10px;
  scale: .70;
}

.show-item-1 {
  margin: auto;
  justify-content: left;
}

.show-item-2 {
  margin: auto;
  justify-content: right;
}

.show-block {
  display: flex;
  justify-content: center;
  position: relative;
}


.show-item h4 {
  position: absolute;
  margin: 35px 5px;
  color: black;
  font-size: large;
  padding: 5px;
  font-family: 'dela gothic one';
  width: 200px;
  text-align: center;
}



.show-img {
  margin: 5xp;

  border-radius: 8px;
  height: 250px;
  width: 250px;
}

.show-img-2 {


  height: 350px;
  width: 350px;
}

.weather-card {
  scale: .5;
  width: 100%;
  background: linear-gradient(135deg, #0098feac, rgba(20, 10, 116, 0.753));
  backdrop-filter: blur(2px);

  color: #fff;
  margin: auto;
  border-radius: 50%;
  margin-right: -80px;
  margin-top: -100px;
  text-align: center;
  border: 2px double rgba(255, 255, 255, 0.705);
  overflow: hidden;
  box-shadow: inset 0px 0px 10px rgb(251, 251, 251), 0 0 15px rgb(250, 250, 250);
  height: 450px;
  width: 450px;
  position:absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.weather {
  display: flex;
  justify-content:center;
  margin: auto;
}

.spy {
  height: 40px;
  border-radius: 50%;
  padding: 5px;
}

.search button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 15px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 30px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  width: 80%;
}

.search {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 25px;
  margin:auto;
}

.weather-icon {
  margin: auto;
  max-width: 220px;
  margin-bottom: -50px;
}

input {
  display: flex;
  margin: auto;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

  margin-bottom: 20px;
  margin-top: 0;
  color: white;
  background-color: rgba(199, 227, 255, 0.5);
  border-radius: 15px;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 50%;
  height: fit-content;
  padding: 10px;
}

.weather h1 {
  font-size: 70px;
  color: orange;
  font-family: 'rajdhani';
  margin: auto;
  text-shadow: 10px 10px 10px black;

}

.degree {
  font-size: 55px;
}

.wind p, .l-wind {
  justify-content: right;
  padding-left: 15px;
}

.humidity p, .r-hum {
  justify-content: left;
  padding-left: 15px;
}

.col p {
  font-size:x-large;
  text-align: center;
}

.weather h2 {
  font-size: 40px;
  filter: opacity(70%);
  margin: auto;
  margin-bottom: 10px;
  color: orange;
}

.city {
  width: 50%;
}

.city h2 {
  font-size: medium;
  color: yellow;
}

.temp {
  width: 50%;
  margin: auto 15px;
}

.world {
  color:blue;
  font-size: 150px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.hide {
  display: none;
}

.emoji {
  animation: wiggle 2s linear infinite;
  font-size: 80px;
  margin-right: 20px;
  margin-left: 0;
  margin-top: -20px;
  display: flex;
  align-items: center;
  height: fit-content;
}

.headshot {
  animation: roll-in 7s linear;
}

.highlight {
  animation: bounce-in 8s ease infinite;
}

.modal {
  animation: bounce-in 3s ease 1;
}



/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}




@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}


@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}


@keyframes center {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

@media screen and (max-width: 992px) {

  .vid {
    width: 80%;
    height: fit-content;
  }

  .title {
    font-size: 60px;
    margin-left: 10px;
  }

  .skill-pic {
    width: 80%;
    height: 80%;
  }

  .skill-text {
    font-size: large;
  }

  figure {
    overflow: hidden;
  }

  .floatbox2 {
    font-size: medium;

  }

  .banner-text {
    font-size: larger;
  }

  .weather-card {
    scale: .4;
    margin: 0l
  }


.sidebar a {
  font-size: 20px;
  width: 100%;
}


  
}
  
  @media screen and (max-width: 576px) {
   * {
    margin: none;
   }
   

   body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
   }

    header {
      background-size: cover;
      background-position: 0%;
      width: 100vw;
      height: 100px;
      margin-left: 0;
    }
    
  
  
    
    .highlight {
      width: 100%;
      font-size: xx-large;
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
    }
    
    a {
      font-family: 'caveat';
      font-size: 25px;
    }

    .resume {
      font-family: 'rajdhani';
      text-align: center;
      width: 80%;
      justify-content: center;
      margin: auto;
    }
    
    nav {

      height: 80px; 
      width: 50%; 
      top: 0; 
      margin: auto;
      font-size: large;
    }
    
    
    aside {
    display:none;
  
    }

    
    .orange {
      font-size: 25px;
      color: rgb(220, 149, 17);
      width: fit-content;
      height: fit-content;
      border-radius: 8px;
      justify-content: center;
      padding: 2px;
      margin: auto;
      margin-top: 20px;
      padding-right: 20px;
      align-items: center;
      letter-spacing: -5px;


    }
    
    .matchOrange {
      font-size: 12px;
      color: rgb(220, 149, 17);
        width: 50%;
        line-height: 1;
        margin-right: 12px;
        align-items:end;
        margin-top: 10px;
    }
    
    footer {
    bottom: 0;
    width: 100%;
    margin: auto;
    height: fit-content;
    font-size: 20px;
    padding: 25px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    }
    
    .headshot-mobile {
      animation: roll-in 4s linear;
    }
    
    .center h4:hover {
      color: #e60a0a;
      scale: 1.02;
      transition: ease-in-out 0.2s;
    }
    
    h2 {
      color: #ffffff;
      font-size:32px;
      font-family: 'dancing script';
    }
    
    h1 {
      width: 100%;
    font-size: 40px;


    }

    .modal {
      scale: .90;

    }

    .modal h1 {
      font-size: 25px;
      margin-left: 10px;
      
    }

    .modal p {
      width: 99%;
      padding: 5px;
      font-size: large;
    }

    .skills {
      flex-direction: column;
      margin-top: 20px;
      width: 80%;
      margin-bottom: 25px;
    }

    .skill {
      justify-content: center;
      margin: auto;
  
      align-items: center;
      align-content: center;
    }

    .skill-pic {
      width: 150px;
      height: 150px;
    }

    .subtitle2 {
      font-size: 25px;
      margin: 5px;
      margin-bottom: 10px;
    }

    .emoji {
      font-size: 50px;
      margin-left: 3px;
    }

    .skill-text h4{
      font-size: large;
      display: flex;
      flex-direction: column;
      font-size: smaller;
      width: 100%;
    }
    
    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    .skill-pic:hover {
      scale: 1.2;
      transition: ease-in 0.5s;
    }
    
    nav ul {
    display: inline;
    list-style: none;
    margin: auto;
    bottom:0;
    }
    
    nav li {
    display: inline;
    margin-right: 10px;
    font-family: 'caveat';
    font-size: x-large;
    }
    
    nav a {
    color: #ffffff;
    text-transform: lowercase;
    text-decoration: underline;
    
    }
    
    .construct {
      margin: 0;
      height: 150px;
      width: 100%;
      margin-top: -120px;
      z-index: 0;
    }

    .construct-work {
      bottom: 0;
      height: fit-content;
      width: 100%;
      margin-left: -25px;
    }
  
    .headshot-mobile {
      border-radius: 50%;
      display:flex;
      margin: auto;
      text-align: center;
      width: 120px;
      justify-content: center;
      border: 2px solid rgba(255, 255, 255, 0.527);
      margin-top: -20px;
     }
    
    
    .card {
        width: 90%;
        height: 90%;
        z-index: 1;

    }

    .vid {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.852);
    
    }
    
    .paraPop {
      padding: 0;
      margin: 0;
      font-size: medium;
    }

    .construct-para {
      padding: 0;
      margin: 0;
    }
    
    .banner {
    
    width: 100vw;
    height: 240px;

    padding: 20px;
    }

    .aboutmetext div {
      width: 100%;
    }
    
    .aboutmetext p {
        flex-direction: row;
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
      font-size: 17px;
      padding: 8px;
    }


    .banner-text {
      padding: 20px;
      margin: 20px;
      margin-top: 100px;
      font-size: larger;
      width: 100%;
    }
    
  
  
    .wrap {
      justify-content: center;
      width: 100%;
    }
    
    .gallery {
      
      grid-gap: 25px;
      width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 150px;
      margin-bottom: 0;
    }
    
    
    .floatbox, .floatbox2 {
     
      background-color: rgba(0, 0, 0, 0.688);
   
      color: orange;
      margin-top:-80px;
      padding: 10px;
     
      border-radius: 0;
      width: 100%;
     
      font-size: medium;
    }
    

    
    .sidebar {
      font-size: 25px;
      margin-top: 20px;
    }
    
    .sidebar a {

      font-size: 30px;
    
    }
    
    footer {
      margin: 0;
      padding: 0;
    }
    
    .footer a {
      padding: 3px;
      margin: 0px;
      justify-content: center;
      width: 100%;
     
    }
    
    #contactMe {
      margin: 0;
      padding: 0;
    }
  
    h3 {
      text-align: center;
      margin: 0;
    }

 
    
    .navlinks a {
      margin: 5px;
    }
    
    .footer {

      margin: 10px 10px;
      bottom: 0;

      font-size: medium;
      width: 90%;
    }

    
    .title {
      margin: auto;
      width: 100vw;
      text-align: center;
      margin-top: 100px;
      font-size: 40px;
      margin-bottom: 0;
      text-shadow: 10px 10px 10px black;
    }

    .gallery {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(57, 5vw);
      margin-bottom: 5px;
      padding-bottom: 0;
    }
    
    
    .gallery__img {

      filter:none;
     
    }

    .gallery__item--z {
      font-size: 20px;
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2;
      overflow: visible;
    }

    .subtitle {
      font-size: 20px;
      
    }

    .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 6;
    }
    
    .gallery__item--2 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 10;
    }
    
    .gallery__item--3 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 10;
      grid-row-end: 14;
    }
    
    .gallery__item--4 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 14;
      grid-row-end: 18;
    }
    
    .gallery__item--5 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 18;
      grid-row-end: 22;
    }
    
    .gallery__item--6 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 22;
      grid-row-end: 26;
    }
    
    .gallery__item--7 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 26;
      grid-row-end: 30;
    }
    
    .gallery__item--8 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 30;
      grid-row-end: 34;
    }
    
    .gallery__item--9 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 34;
      grid-row-end: 38;
    }

    .gallery__item--10 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 38;
      grid-row-end: 42;
    }

    .gallery__item--11 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 42;
      grid-row-end: 46;
    }

    .gallery__item--12 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 46;
      grid-row-end: 50;
    }
    
    .gallery__item--13 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 50;
      grid-row-end: 54;
    }

    .gallery__item--14  {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 54;
      grid-row-end: 58;
    
    }

    .fp {
      display: none;
    }

    .skill-text{
      
      display: flex;
      flex-direction: column;
      font-size: medium;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 10px;
      color: rgb(255, 255, 255);
      -webkit-text-stroke: .5px rgb(0, 0, 0);
      padding: 0;
      position: absolute;
      font-family: 'dela gothic one';
    }

    .skill-pic {
      margin-top: 20px;
      position: relative;
      
    }

    .resume {
      margin-top: 20px;
    }

    .link {
      font-size: 35px;
      margin: 0;
      margin-right: -15px;
      margin-bottom: 45px;
      color: orange;
    }

    .icon {
      margin: 5px;
  
    }

    .topbar {
      position: fixed;
      bottom: 0;
      display: block;
      font-size: small;
      margin: auto;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 60px;
      background-image: url(../images/blueBackLines.png);
      background-size: cover;
      align-content: center;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: 2;
    }

    .topbar a {
      font-family: 'rajdhani';
      font-size: 19px;
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 10px 5px;
      font-weight: 600;
    }

    .topbar a:hover {
      scale: 1.1;
      color: gray;
      text-shadow: 5px 5px 5px black;

    }

   .footer a {
      margin: 0;
      padding: 0;
      font-size: large;
    }



    .show {
      scale: 1;
      height: fit-content;
      flex-direction: row;
      
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      
      margin: 10px;
      margin-top: -10px;
      margin-bottom: -0px;
    }
    
   
    
    .weather-card {
      scale: .80;
      position:static;
      width: 100%;
      background: linear-gradient(135deg, #0098feac, rgba(20, 10, 116, 0.753));
      color: #fff;
      margin: auto;
      height: 350px;
      width: 350px;
     
      border-radius: 50%;
      padding: 10px 25px;
      text-align: center;
      border: 2px double rgba(255, 255, 255, 0.705);
      z-index: 0;
      margin-top: -25px;
     
    }
    
    .weather {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      align-items: center;
    }
    
    .spy {
      height: 40px;
      border-radius: 50%;
      padding: 5px;
    }
    
    .search button {
      display: flex;
      justify-content: center;
      margin: auto;
      align-items: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 0;
      outline: 0;
      cursor: pointer;
     margin-left: 5px;
    }

    .details {
      display: flex;
      background-color: none;
      border-radius: 0;
    }

    .search input {
      margin: 0;
      height: 45px;
      border-radius: 30px;
      flex: 1;
      font-size: 14px;
      width: 13px;
      
    }
    
    .search {
      display: flex;
      margin: auto;
      text-align: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 0;
    }

    .row {
      margin: 0;
     
    }
    
    .weather-icon {
      margin: auto;
      max-width: 150px;
      margin-top: -25px;
      margin-bottom: -25px
    }


    input {
      width: 100%;
    }
    
    .col {

    }

    .col p{
      font-size: large;
    }
 
    
    .weather h1 {
      font-size: 50px;
      color: orange;
      font-family: 'rajdhani';
    }
    
    .degree {
      font-size: 35px;
    }
    
    
    .weather h2 {
      font-size: 30px;
      filter: opacity(60%);
    }
    
    
    .hum {
      height: 40px;
      width: 40px;
      filter: opacity(45%);
    }
    
    .wind-speed {
      height: 40px;
      width: 60px;
    }
    /* .gallery__item--14 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 54;
      grid-row-end: 58;
      
    }
    
    .gallery__item--15 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 58;
      grid-row-end: 62;
     
    }
    
    .gallery__item--16 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 62;
      grid-row-end: 66;
      
    }
    
    .gallery__item--17 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 66;
      grid-row-end: 70;
       
        
    
    .center {
      font-size: 35px;
      color: #fc0808;
      text-decoration: none;
      margin-bottom: 5px;
      margin-right: 15px;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 50%;
    }

  
  } */

}