

* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}



body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  background-image: url(../images/brickback.jpg);
  background-size: contain;
  background-position: center;
}

header {
  
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  line-height: 50px;
  color: #ffffff;
  background-image: url(../images/blueBackLines.png);
  background-size: auto;
}

div {
  display: flex;
  flex-wrap: wrap;
}

div .aboutmetext {
  justify-content: center;
}

section {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
display:flex;
flex-wrap: wrap;
flex-direction: row;
padding-left: 35px;
padding-bottom: 20px;
text-indent: 5%;
margin: auto;
margin-top: 30px;
font-family: 'Rajdhani';
}

.highlight {
  color: rgb(17, 60, 103);
  text-align: center;
  width: 100%;
  font-size: xx-large;
  margin-bottom: 10px;
  font-family: 'Dela Gothic One';
}

a {
  font-family: 'caveat';
  font-size: 35px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: 80px; 
  width: 50%; 
  top: 0; 
  margin: auto;
  font-size: large;
}


aside {
height: 100%;
width: 150px;
position: fixed;
z-index:1;
top:0;
left:0;
overflow-x:hidden;
display: flex;
flex-wrap: wrap;
flex-direction: row;
background-image: url(../images/blueBackLines.png);
background-size: auto;
text-align: center;
margin: auto;
font-family: 'caveat';
}

aside a {
  margin-left: 8px;
}



footer {
bottom: 0;
width: 100%;
margin: auto;
height: fit-content;
font-size: 20px;
padding: 25px;
color: #ffffff;
justify-content: center;
margin-bottom: 50px;
}


footer a {
 display: block;  
  font-family: 'mooli';
  color: rgb(255, 255, 255);
  
  text-decoration: none;
  justify-content: center;
  }
  


h3 {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: medium;
}


.center {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 50px;
  color: #2361c6;
  text-decoration: none;
  margin-bottom: 25px;
  margin-right: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 50%;
}

.center h4:hover {
  color: #e60a0a;
  scale: 1.02;
  transition: ease-in-out 0.2s;
}

h2 {
  color: #ffffff;
  font-size:32px;
  font-family: 'dancing script';
}

h1 {
  width: 50%;
font-size: 80px;
margin-top: 12px;
font-family: 'pixelify sans';
justify-content: left;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

nav ul {
display: inline;
list-style: none;
margin: auto;
bottom:0;
}

nav li {
display: inline;
margin-right: 10px;
font-family: 'caveat';
font-size: x-large;
}

nav a {
color: #ffffff;
text-transform: lowercase;
text-decoration: underline;

}



figure a img {
width: 100%;
outline:8px solid rgb(11, 206, 240);
outline-offset: -5px;
position: relative;
}

a img:hover {
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
}

/* The user is actively pressing down on the element */
a img:active {
  font-size: 100%;
  box-shadow: 0 0 100px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
a img:focus {
  outline: none;  
  border-color: #e60a0a;          
}





.card {
  

    width: 60%;
    height: 60%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}


.card:hover {
  scale: 1.1;
}

.banner {
display: flex;
opacity: (80%);
flex-wrap: wrap;
width: 100%;
height: 140px;
background-image: url(../images/downloadv2.png);
background-size: cover;
background-position: center;
border-bottom: 3px double grey;

justify-content: right;
align-content: center;
text-align: right;
padding: 20px;
}

p {
  background: white;
background: linear-gradient(
  to right bottom,
    rgba(255, 255, 255, 0.4),
  rgba(255, 255, 255, 0.2)
    );

    webkit-backdrop-filter: blur(1rem);
    border: 8px solid rgba(19, 220, 247, 0.178);
    width: 70%;
    color: rgb(255, 255, 255);
    font-family: 'dela gothic one';
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);

}

.banner-text {
  padding: 5px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.45);  
  backdrop-filter: blur(5px);
  border-radius: 8px;
}



.headshot {
border-radius: 100%;
max-block-size: 140px;
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
border: 2px double rgb(4, 158, 185);
}

.headshot:hover {
  scale: 1.13;
  

}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 5vw);
  grid-gap: 25px;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0;
}


.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter:blur(2px) grayscale(50%) ;
  align-content: center;
  border-radius: 7px;
}

.gallery__img:hover {
filter: none;
}

.name {
  font-family: 'pixelify sans';
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 12;
}

.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 14;
}

.gallery__item--9 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 14;
}

.floatbox {
  display:flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(11, 206, 240);
  width: 200px;
  position: absolute;
  margin-top:-100px;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
}

.floatbox2 {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(11, 206, 240);
  width: 200px;
  position: absolute;
  margin-top:-100px;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
}

.sidebar {
  text-decoration: none;
  justify-content: center;
  font-size: 25px;
  color: #818181;
  margin-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;

}

.sidebar a:hover {
  color:rgb(19, 82, 134);
  text-decoration: underline;

  transition: ease-in 0.1;
}



.aboutmetext p:hover {
  box-shadow: inset 0px 0px 15px rgb(251, 251, 251), 0 0 25px rgb(250, 250, 250);
  border: 8px solid rgb(19, 220, 247);
  background: linear-gradient(90deg, #e3ffe7 0%, #7fd8fe 100%);
  color: navy;
}

.main-image {
  background-position: center;
}

.footer a {

  padding: 10px;
 
  color: rgb(255, 255, 255);
}

.footer a:hover {
  scale: 1.1;
  transition: ease-in 0.2s;


}

.contactpic{
  max-width: 25%;
  max-height: 150px;
  border: none;
  border-radius: 100%;
  margin: 3px;
}



.contactpic:hover {
  scale: 1.1;
  transition: ease-in 0.8s;
}


.navlinks a {
  margin: 5px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 10px;
  bottom: 0;
  justify-content: space-between;
  font-size: medium;
  width: 90%;
}


.text-adj {
  font-family: 'pixelify sans';
  color: rgb(0, 115, 255);
}

.orange {
  font-size: 35px;
  color: rgb(220, 149, 17);
  background-color: green;
}

.lowercase {
  text-transform: lowercase;
}

.title {
  margin-left: 30px;
  width: 100%;
}


@media screen and (max-width: 992px) {

  
  
}
  
  @media screen and (max-width: 576px) {
    .body{
      width: 100%;
      justify-content: center;
   
    }
      .header {
        width: 100vw;
        height: 200px;
        margin: 0;
      }

      .name {
        width: 100%;
        padding: 0 ;
        margin: 0;
      }

      .title {
        width: 100%;
        padding: 0;
      }
      h1 {
        width: 100%;
        padding: 10px;
      }
    
      .banner {
        width: 100vw;
        height: 250px;
      }
    
      .banner-text {
        font-size: x-large;
      }
    
      p {
        display:flex;
       
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 35px;
        padding-bottom: 20px;
        text-indent: 5%;
        margin: auto;
        margin-top: 30px;
        font-family: 'Rajdhani';
        }
      
      .aboutmetext {
        width: 100%;
        margin: 0;
        padding: 0;
      }

  }


