/* Universal selector */

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        box-sizing: border-box;
        padding: 0;
        margin: 0;
  }
  
  /* Element selectors */
body {
    background-color: rgb(167, 219, 227);
}
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    line-height: 50px;
    color: #ffffff;
    background-color: #404045;
}

section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 100px;
    padding-left: 40px;
}

aside {
float: left;
text-align: right;
font-family:'Arvo', serif;
list-style-type: square;
list-style-position: inside;
color:white;
height:800px;
width:160px;
background-color: rgb(11, 206, 240);
font-style: italic;
}

/*this needs major work.  Right now it does not flow with media query*/
h3 {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: medium;
}


/* The user's cursor is positioned over the element */
img:hover {
    box-shadow: inset 0px 0px 8px blue, 0 0 4px blue;
  }
  
  /* The user is actively pressing down on the element */
  img:active {
    font-size: 100%;
    box-shadow: 0 0 100px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  img:focus {
    outline: none;
    border-color: #e60a0a;          
  }

.header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.navheader a {
  align-items: flex-end;
  width: 100%;
  font-size: 20px;
  color: rgb(184, 192, 205);
  margin-left: 5px;
}

.banner {
  justify-content: flex-end;
}

.banner h2 {
  float:inline-end;
    text-align: right;
  color:rgb(120, 187, 220);
  font-size:30px;
  font-family: cursive;
  font-style: italic;
}

.bannerimage {
  width: 100%;
  max-height: 80px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-gap: 15px;
}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(11, 206, 240);
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
}

.gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
}

.floatbox {
    display:flex;
    background-color: rgb(11, 206, 240);
    width: fit-content;
    position: relative;
    margin-top:-150px;
    padding: 10px;

}

.floatbox2 {
    display: flex;
    background-color: rgb(11, 206, 240);
    width: fit-content;
    position: relative;
    margin-top:-100px;
    padding: 10px;

}

.sidebar li{
    display:flex;
    flex-wrap: wrap;
}